.aboutSection {
  padding: 6rem 2rem;
  background: #fdfaf5;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4a432b;

  .content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    text-align: left;

    h2 {
      font-weight: 900;
      font-size: clamp(2.2rem, 4vw, 3rem);
      text-transform: uppercase;
      line-height: 1.1;
      margin-bottom: 1rem;
      color: #3c3320;
    }

    p {
      font-size: clamp(1rem, 1.2vw, 1.2rem);
      line-height: 1.7;
      color: #6e6443;
    }
  }

  @media (max-width: 768px) {
    padding: 4rem 1rem;
    .content {
      text-align: center;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
